@model SignUpViewModel

@{
    ViewData["Title"] = "Sign up";
}

<section class="sign-up">
    <div class="container">
        <form method="post" asp-action="SignUp" asp-controller="Authentication">
            <div asp-validation-summary=ModelOnly></div>
            
            
            <div class="input-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" />
                <span asp-validation-for="FirstName"></span>
            </div>
            <div class="input-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" />
                <span asp-validation-for="LastName"></span>
            </div>
            <div class="input-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="input-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="input-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>

            <div class="checkbox-group">
                <div class="input-group">
                    <input asp-for="TermsAndConditions" />
                    <label asp-for="TermsAndConditions">I accept the Terms and Conditions.</label>
                </div>
                <span asp-validation-for="TermsAndConditions"></span>
            </div>


            <button class="btn btn-theme" type="submit">Sign up</button>
        </form>
    </div>
</section>