.alert {
    padding: 1rem 1rem;
    border-radius: 8px;
}

.alert-success {
    background: #c6f7cc;
    color: #445e43;
}

.alert-warning {
    background: #f7f5b7;
    color: #6d6e54;
}

.alert-danger {
    background: #ffcabf;
    color: #574c4a;
}