@model SignInForm

<form asp-action="SignIn" asp-controller="Auth" method="post" asp-route-ReturnUrl="@ViewData["ReturnUrl"]">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <button type="submit">Sign In</button>
</form>