.wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "main" "footer";
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include md {
        max-width: 720px;
    }

    @include lg {
        max-width: 960px;
    }

    @include xl {
        max-width: 1140px;
    }

    @include xxl {
        max-width: 1320px;
    }

    &.container-fixed-500 {
        width: 500px;
    }

    &.container-fixed-700 {
        width: 700px;
    }
}

